html{
    width: 750px;
    margin: auto;
}

header, footer {
    background-color: lightgrey;
}

menu{
    background-color: black;
    color: yellowgreen;
    text-decoration: none;
    list-style: none;
    padding: 0.3cm;
    margin: 0;
    position: relative;
}

menu li{
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

menu a{
    min-width: 150px;
    color: orange;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

aside {
    background-color: orangered;
}